<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alumno.cebanckebab">
    <permission
        android:name="com.alumno.cebanckebab.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.alumno.cebanckebab.permission.MAPS_RECEIVE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/kebab"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC8kl8paJL97idUVn9-D4qpnYZ4u2Oljcs" />
        <activity android:name=".CebancKebabMainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity_1_datos"
            android:label="@string/app_name_datos"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity_2_tipo"
            android:label="@string/app_name_tipo"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity_3_bebidas"
            android:label="@string/app_name_bebidas"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity_4_resumen"
            android:label="@string/app_name_resumen"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity_carrito"
            android:label="@string/app_name_resumen"
            android:theme="@style/Theme.AppCompat.Dialog"/>
    </application>

</manifest>